.button,.addButton,.deleteButton,.doneButton,.editButton{
    color: white;
    background: #16a085;
    border-radius: 0.5rem;
    margin: 2%;
    font-size: 1rem;
}

.doneButton{
    font-size: 0.85rem;
    background-color: green;
}
.deleteButton{
    font-size: 0.85rem;
    background-color: red;
}
.editButton{
    font-size: 0.85rem;
    background-color: orange;
}

.addButton:hover{
    background-color:#6ae0c9; 
}
.doneButton:hover{
    background-color: rgb(79, 175, 79)
}
.editButton:hover{
    background-color: rgb(247, 200, 114);
}
.deleteButton:hover{
    background-color: rgb(230, 109, 109);
}

